*, *::before, *::after {
  box-sizing: border-box;
}

.App-component {
  background-color: #999999;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1{
  margin: .75;
}
.header p{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav{
  display: flex;
}
.nav a {
  margin: 0 1rem;
}
.active {
  background-color: lightskyblue;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news {
  list-style: none;
  list-style: none;
  background-color: rgb(218, 218, 216);
  margin: .5rem;
  padding: 1rem;
}

.news-info{
  display: flex;
}

.news-info div {
  margin: 0 1rem;
}

.category-list {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  margin: .25rem;
  /* background-color: aqua; */
  justify-content: space-around;

}

img {
  width: 50%;
}

.nytimes-component{
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.times-news {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.google-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  margin: 1rem;
}